html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

.hide {
  display: none;
}

/**** IMPORTS ****/
@import "theme/module";
@import "base/module";
@import "components/module";
@import "utils/module";
