@import "../theme/abstracts";

.content-bottom {
  display: flex;
  flex-flow: row nowrap;
  margin: ($spacing-big * 1.5) 0 $spacing-big;
  width: 100%;

  @media #{$gl-xs-sm} {
    flex-flow: column nowrap;
  }

  .box-wrapper {
    flex-basis: 100%;
    max-width: 100%;

    .box {
      &:hover {
        cursor: default;
        transform: scale(1);
      }
    }
  }

  .row {
    margin: $spacing-small;

    .row-content {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: 20px;
    }

    .row-bar {
      height: 20px;
      background-color: $_color-gray;
      overflow: hidden;
      border-radius: 40px;
      margin: ($spacing-small / 2) 0 $spacing-small;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        transition: width 0.5s;
      }
    }
  }
}
