//****************************************
//  COLOR  PALETTE
//****************************************

$_color-black: #5e5e5e;
$_color-white: #fff;
$_color-gray: #e9edef;
$_color-blue: #80d0ec;

$color-lines: #e4e4e4;
$color-hover: #28a6d2;
